<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome!</title>
  </head>
  <body bgcolor="#ffca3d">
    <h1>HI LLiey0520!</h1>
    <br>Count : <%= count %></br>
  </body>
</html>
